.DS_Store
.env
.test
.vscode
PrivateRules.mak
/.bash_history
/.config/
/.local/
/.npm/
/crush.sh
/.cache/
/go/
/test_output.log
/.claude
/.oldsop

# infra binary
dist/
querylinter.so

sendgrid.env
test/root.key
SECURITY_AUDIT_REPORT.md
package-files/
mytools/
bin/

internal/server/testdata/encryption-key/
internal/server/testdata/initial-admin-access-key-secret/
internal/server/testdata/initial-admin-password-secret/
internal/server/testdata/pki/ca-public.pem
internal/server/testdata/pki/ca.crt
internal/server/testdata/pki/ca.key
internal/server/testdata/pki/localhost.crt
internal/server/testdata/pki/localhost.key
/.sop
/update-infra.sh
